[submodule "frontend"]
	path = frontend
	url = https://github.com/KleinSpeedy/language-helper-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/KleinSpeedy/language-helper-backend.git
